<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Pandora WebUI</h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <article id="send-message" ng-controller="PandoraCtrl">
                    <section>
                        <form ng-submit="fetchMessages()">
                            <ul>
                                <li><label>Receiver: <input type="text" ng-model="queryParameters.receiver"></label></li>
                                <li><label>Receivd at: <input type="text" ng-model="queryParameters.receivedat"></label></li>
                                <li><label>ServerTime: <input type="text" ng-model="queryParameters.servertime"></label></li>
                            </ul>
                            <button>Recuperar mensagens</button>
                        </form>
                        <h2>Last 10 messages</h2>
                        <ul>
                            <li ng-repeat="msg in msgsSent">
                                <span>Mid: <a href="/api/admin/fetchBlob?mid={{ msg.mid }}">{{ msg.mid }}</a></span> / <span>Received At: {{ msg.receivedAt }}</span> / <span>Send when: {{ msg.sendWhen }}</span>
                            </li>
                        </ul>
                        <button ng-click="fetchNext10()">Próximas 10</button> / <button ng-click="reEnqueue()">ReEnqueue {{ reEnqueueError }}</button>
                    </section>
                    <section>
                        <h2>Send new message</h2>
                        <form ng-submit="sendMessage()">
                            <ul>
                                <li ng-repeat="field in message.fields">
                                        <div class="fieldLabel"><label>{{field.caption}}:</label></div>
                                        <div><input type="text" name="{{field.name}}" ng-model="field.value"></div>
                                </li>
                                <button type="submit">Send message</button>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <h2>Add new field</h2>
                        <form ng-submit="addField()">
                            <p><label>New name: <input type="text" ng-model="newField.name"></label></p>
                            <p><label>New caption: <input type="text" ng-model="newField.caption"></label></p>
                            <p><label>Initial value: <input type="text" ng-model="newField.initialValue"></label></p>
                            <button type="submit">Incluir novo campo</button>
                        </form>
                    </section>
                </article>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Pandora Persistent Message Server</h3>
            </footer>
        </div>
    </body>
</html>
